!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js"></script>
  #header
    h1= 'Welcome to ' + title
  body!= body
  #footer
    <iframe class="vote-ko" src="http://nodeknockout.com/iframe/los-empabirras" frameborder=0 scrolling=no allowtransparency=true width=115 height=45>
    </iframe>
    img#nodejs-logo(src='images/nodejs.png')
    img#linode-logo(src='http://www.linode.com/~tom/pics/Linode/logos/linodebtnpo3.png')